<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="NewsletterSubscriptionsTo" value="office@naruvihospitals.com"/>
    <add key="NewsletterSubscriptionsBCC" value="vinoth@parampriti.com,"/>
  </appSettings>

  <system.web>
    <compilation debug="false"  />
    <customErrors mode="Off"></customErrors>
  </system.web>

  <system.webServer>
    <defaultDocument enabled="true">
      <files>
        <add value="defautl.aspx" />
      </files>
    </defaultDocument>
  </system.webServer>



</configuration>
