

#latest-jobs .jobs-latest {
  background: #fff;
  margin: 15px 0;
  border-radius: 4px;
  display: inline-block;
  width: 100%;
  position: relative;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}

#latest-jobs .jobs-latest .img-thumb {
  float: left;
  position: relative;
  text-align: center;
  display: inline-block;
  line-height: 140px;
height: 155px;
  border-right: 1px solid #f1f1f1;
  padding: 7px;
  width: 30%;
}

#latest-jobs .jobs-latest .content {
  padding: 20px;
  float: left;
  width: 100%;
    border-top: none;
    text-align: center;
}

#latest-jobs .jobs-latest .content h3 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

#latest-jobs .jobs-latest .content h3 a {
  color: #333;
}

#latest-jobs .jobs-latest .content h3 a:hover {
  color: #00BCD4;
}

#latest-jobs .jobs-latest .content .brand {
  font-size: 15px;
  margin-bottom: 3px;
  color: #666666;
    text-align: center;
}

#latest-jobs .jobs-latest .content .tags span {
  margin-right: 10px;
  line-height: 30px;
}

#latest-jobs .jobs-latest .content .tags span i {
  margin-right: 5px;
  color: #00BCD4;
}

#latest-jobs .jobs-latest .content .tag i {
  color: #00BCD4;
}

#latest-jobs .jobs-latest .content .job-type {
  color: #00BCD4;
  font-size: 11px;
  font-weight: 500;
  display: inline-block;
  background: #d5ffe7;
  padding: 5px 15px;
  border-radius: 4px;
  text-transform: uppercase;
}

#latest-jobs .jobs-latest .content .part-time {
  background: #ffd8d2;
  color: #ff6046;
}

.job-listings-featured {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  padding: 15px;
  box-shadow: 0px 0px 14px rgba(191, 191, 191, 0.24);
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.job-listings-featured .job-company-logo {
  float: left;
  text-align: center;
  line-height: 70px;
}

.job-listings-featured .job-details {
  margin-left: 60px;
}

.job-listings-featured .job-details h3 {
  font-size: 16px;
  font-weight: 500;
  transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.job-listings-featured .job-details h3:hover {
  color: #00BCD4;
}

.job-listings-featured .job-details .company-neme {
  font-size: 14px;
  color: #666666;
}

.job-listings-featured .job-details .tags {
  margin-top: 10px;
}

.job-listings-featured .job-details .tags span {
  color: #9a9a9a;
  font-size: 12px;
  margin-right: 5px;
}

.job-listings-featured .job-details .tags span i {
  margin-right: 5px;
  color: #00BCD4;
}

.job-listings-featured .tag-type {
  margin-top: 28px;
}

.job-listings-featured .tag-type span {
  margin-left: 10px;
}

.job-listings-featured .full-time,
.job-listings-featured .part-time {
  padding: 5px 15px;
  font-size: 14px;
  text-transform: capitalize;
}

.job-listings-featured .heart-icon {
  color: #fff;
  line-height: 24px;
  padding: 3px 10px;
  font-size: 14px;
  border-radius: 4px;
  text-align: center;
  display: inline-block;
  margin: 0px 10px;
  background: #00BCD4;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.job-listings-featured .location {
  display: inline-block;
  color: #9a9a9a;
  line-height: 22px;
  margin: 15px 0;
}

.job-listings-featured .location i {
  color: #00BCD4;
}

.job-listings-featured .btn-apply {
  color: #fff;
  background: #00BCD4;
  padding: 5px 15px;
  border-radius: 4px;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.job-listings-featured .btn-apply:hover {
  color: #fff;
  background: #00BCD4;
}

.job-listings-featured:hover {
  background: #f9fcff;
  border-color: #ffffff;
  box-shadow: 11px 0px 20px rgba(102, 102, 102, 0.08);
}
.bg-gray {
    background: #f9fcff;
}
.section {
    padding: 30px 0;
}
.section-header .section-title {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #333333;
    position: relative;
    text-align: center;
}
.section-header p {
    text-align: center;
}
.full-time {
    color: #fff;
    background: #137abf;
}
.full-time, .part-time {
    font-size: 11px;
    font-weight: 500;
    display: inline-block;
    padding: 5px 15px;
    border-radius: 4px;
    cursor: pointer;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    margin: auto 10px;
}
.full-time:hover, .part-time:hover, .btn-open:hover {
    box-shadow: 0px 3px 9px rgba(96, 94, 94, 0.17);
}
#latest-jobs .jobs-latest .content .part-time {
    background: #ff80a7;
    color: #fff;
}
.row {
    top: 0;
    position: unset;
    margin: auto;
    letter-spacing: unset;
    word-spacing: unset;
    font-size: unset;
}
.book-appointment input {
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-left: 16px;
}
.show { 
    display: block;
}
#jobDesc {
    transition: all 0.5s ease-in-out 0s;
    font-size: 14px;
}